:root {
  --font-sans-serif: 'Figtree', sans-serif;
  --color-turquoise: #3d94a0;
  --color-tan: #e8dfd8;
}

body {
  font-family: var(--font-sans-serif);
}

body p {
  font-size: 17px;
}

.highlight {
  color: var(--color-turquoise);
}

#first {
  background-color: var(--color-tan);
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#first div {
  max-width: 400px;
}

#first h3 {
  font-size: 40px;
  margin: 10px 0;
  line-height: 1.2;
}

#first img {
  max-height: 320px;
  width: auto;
}

#who-we-are img {
  margin: auto;
}

#who-we-are p {
  text-align: center;
}

.section {
  padding: 40px;
}

.section h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.section .container {
  max-width: 900px;
  margin: auto;
}

.section p {
  margin-bottom: 17px;
}

#what-we-do-together {
  background-color: var(--color-tan);
}

#what-we-do-together > img {
  margin: auto;
}

.highlights {
  display: flex;
  justify-content: space-around;
  max-width: 950px;
  margin: auto;
}

.single-highlight {
  background-color: white;
  font-size: 25px;
  border-radius: 20px;
}

.svg-container {
  background: var(--color-turquoise);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.svg-container svg {
  max-width: 80%;
  max-height: 110px;
}

.highlight-text {
  padding: 20px;
  text-align: center;
}

#together-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

#together-text p {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.divider-img {
  width: 100%;
}

#location-info {
  text-align: center;
}

.cta-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  margin: 60px auto 30px;
}

.cta-buttons a {
  background: var(--color-turquoise);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 40px;
}

#footer {
  background-color: var(--color-tan);
  display: flex;
  align-items: center;
}

#footer img {
  max-width: 400px;
  margin-right: 50px;
}

.footer-text {
  max-width: 385px;
}

.footer-text p {
  font-size: 40px;
  margin-bottom: 20px;
}
