:root {
  --font-sans-serif: 'Figtree', sans-serif;
  --color-turquoise: #3d94a0;
  --color-tan: #e8dfd8;
}

body {
  font-family: var(--font-sans-serif);
}

body p {
  font-size: 17px;
}

.highlight {
  color: var(--color-turquoise);
}

#first {
  background-color: var(--color-tan);
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#first div {
  max-width: 400px;
}

#first h3 {
  font-size: 40px;
  margin: 10px 0;
  line-height: 1.2;
}

@media (max-width: 650px) {
  #first h3 {
    text-align: center;
  }
  #first img {
    margin-left: auto;
    margin-right: auto;
  }
}

#first img {
  max-height: 320px;
  width: auto;
}

@media (max-width: 650px) {
  #first {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  #jbn-stock {
    margin-bottom: 50px;
  }
}

#who-we-are img {
  margin: auto;
}

#who-we-are p {
  text-align: center;
}

.section {
  padding: 40px;
}

.section h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.section .container {
  max-width: 900px;
  margin: auto;
}

.section p {
  margin-bottom: 17px;
}

#what-we-do-together {
  background-color: var(--color-tan);
}

#what-we-do-together > img {
  margin: auto;
}

.highlights {
  display: flex;
  justify-content: space-around;
  max-width: 950px;
  margin: auto;
}

@media (max-width: 650px) {
  .highlights {
    flex-wrap: wrap;
  }
}

.single-highlight {
  background-color: white;
  font-size: 25px;
  border-radius: 20px;
}

@media (max-width: 650px) {
  .single-highlight {
    margin-bottom: 30px;
    width: 100%;
  }
}

.svg-container {
  background: var(--color-turquoise);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.svg-container svg {
  max-width: 80%;
  max-height: 110px;
}

.highlight-text {
  padding: 20px;
  text-align: center;
}

#together-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

#together-text p {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.divider-img {
  width: 100%;
}

#location-info {
  text-align: center;
}

.cta-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  margin: 60px auto 30px;
}

.cta-buttons a {
  background: var(--color-turquoise);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 40px;
}

@media (max-width: 650px) {
  .cta-buttons {
    flex-wrap: wrap;
  }

  .cta-buttons a {
    margin-bottom: 20px;
  }
}

#footer {
  background-color: var(--color-tan);
  display: flex;
  align-items: center;
}

#footer img {
  width: 400px;
  margin-right: 50px;
  max-width: 100%;
}

.footer-text {
  max-width: 385px;
}

.footer-text p {
  font-size: 40px;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  #footer {
    flex-wrap: wrap;
  }
  .footer-text {
    background: var(--color-turquoise);
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
  #footer img {
    width: 270px;
  }
  .footer-text p {
    font-size: 25px;
  }
}


.directory-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}

.directory-section .company {
  font-size: 19px;
  color: var(--color-turquoise);
  font-weight: bold;
}

.directory-section .name {
  font-weight: bold;
}

.single-member {
  flex: 1 40%;
  margin: 30px;
}

.member-title {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-turquoise);
}

.member-title:before {
  content: '';
  display: block;
  height: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./flower-icon.png');
}

#first + .member-title {
  margin-top: 50px;
}
